*{
  /* background-image:url(/bgr-page-2.jpg); */
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */

}
body{
  background-image: linear-gradient( to left , #8693AB , #BDD4E7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
  /* border: 2px solid red; */

}
